<div>
<div>
  <h3>Tags {{resourceId}}</h3>
  <div class="row">
    <div class="col-md-4">
      <select ng-model="form.type" class="form-control" >
        <option value="type">type</option>
          <option value="ref">ref</option>
      </select>
    </div>
    <div class="col-md-4">
      <input type='text' ng-model="form.value" class="form-control" />
    </div>
    <div class='col-md-4'>
      <button class="btn btn-default" ng-click="saveTag(form)">Store</button>
    </div>
  </div>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Value</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="tag in TagService.data">
      <td>{{tag.type}}</td>
      <td>{{tag.value}}</td>
      <td>{{tag.created_at}}</td>
      <td>
        <div class='btn btn-default btn-xs'>Remove</div>
      </td>
    </tr>
  </tbody>
</table>
</div>
